body {
    align-items: center;
    background: #101;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: hidden;
}

canvas {
    background: #301;
    width: 100%;
    height: 100%;
}

#info {
    color: #fff;
    font-family: 'Slabo 27px', monospace;
    font-size: 50px;
    text-align: center;
    width: 100%;
}
