body {
    align-items: center;
    background: #301;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-y: hidden;
}

canvas {
    background: #301;
    width: 100%;
    height: 100%;
}
